<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cli_2_web_app</title>

    <link rel="stylesheet" href="static/styles.css" type="text/css"/>
</head>

<script src="static/scripts/cli_scripts.js"> </script>

<body>


<textarea name="cli" id="output" readonly autofocus>
    {{ cli_text }}
</textarea>
<br>

<input type="text" id="input" onsubmit="send_cli_input();">



</body>

<script>get_cli_output();


var input = document.getElementById("input");
input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
        send_cli_input();
        input.value = "";
    }
});

</script>
</html>